@import '../../scss/main.scss';

.dashboard-header {
  display: flex;
  background-color: $color-primary-dark;
  padding: 2rem 5rem;
  color: $color-text;

  &__logo {
    flex: 1 1 25%;
    font-size: $font-xl;
    font-weight: 300;
    font-family: inherit;
    color: $color-white;
    text-transform: uppercase;
    line-height: $font-xl;
  }

  &__content {
    @include flexCenter;

    justify-content: flex-end;
    flex: 1 1 60%;
  }

  &__search {
    flex: 0 0 60%;
  }

  &__profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 15%;
  }

  &__account {
    cursor: pointer;
    position: relative;
    width: 1rem;
    height: 3rem;
    background-image: radial-gradient(circle, #fff 2px, transparent 2px);
    background-size: 100% 33.33%;
  }
}
