@import '../../scss/main.scss';

.task {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-dark;
  }

  &__content {
    margin-left: 4rem;
    padding: 1rem 1rem 1rem 0rem;
    border-bottom: 1px solid $color-border;

    & h2 {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__meta {
    display: flex;
    font-size: 1.4rem;
    color: $color-text;
  }

  &__status {
    @include flexCenter;
    margin-left: 1.5rem;

    &--complete {
      color: $color-white;
      background-color: $color-primary-dark;
      border-radius: 2rem;
      padding: 0 1rem;
      font-size: 1.3rem;
    }

    &--pending {
      color: $color-white;
      background-color: $color-secondary-dark;
      border-radius: 2rem;
      padding: 0 1rem;
      font-size: 1.2rem;
    }
  }

  &--selected {
    background-color: $color-grey-dark;
    border-bottom: 1px solid $color-grey-dark;
  }

  &--selected > &__content {
    border-bottom: none;
  }
}
