$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-background: #f7f7f7;
$color-border: #eee;

$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-text: #777;
$color-black: #000;

// font
$font-default: 1.6rem;

// spacing & width
$max-content-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
